<h1>Listing Spaces</h1>
 <%= link_to 'New space', new_space_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Link</th>
    <th>Views</th>
  </tr>
 
  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.title %></td>
      <td><%= space.text %></td>
      <td><%= link_to 'Open', space_path(space) %></td> 
      <td><%= space.views %></td>
  <% end %>
</table>